@import "../../../assets/Style/scss/main/main.scss";

// btn logo
@mixin btnLogo {
    button {
        border: none;
        cursor: pointer;
        background-color: white;
        .images {
            width: 40px;
            margin: 10px 0;
        }
    }
    p {
        color: gray;
        font-weight: bold;
        font-size: 13px;
    }
}

.detailTab {
    width: 100%;
    background: linear-gradient(#09181f, #133241);
    color: $color-white-2;
    padding: 20px 0;
    .tabMovie {
        .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected {
            color: $color-white-2 !important;
            font-weight: bold;
        }
        .MuiTabs-indicator {
            display: none !important;
        }
    }
    .infoMovie {
        align-items: flex-start;
        ul li {
            list-style: none;
        }
    }

    .detailTabCinema {
        width: 100%;
        padding: 10px;
        border-radius: $boderR5;
        border: $border;
        background-color: $color-white;
        align-items: flex-start;
        .accordionLogo {
            width: 100%;
            text-align: center;
            .titleLogo {
                font-size: 13px;
                font-weight: bold;
                color: $color-black-2;
            }
            .logoCinema {
                .loGo {
                    opacity: 0.7;
                    @include btnLogo;
                }
                .loGo_Active {
                    opacity: 1.5;
                    @include btnLogo;
                }
            }
        }

        .scheduleMovie {
            width: 100%;
            align-content: flex-start;
            font-size: 13px;
            .titleDate {
                color: $color-black-2;
                text-align: center;
            }
            .rowScheduleMovie {
                overflow-y: scroll;
                height: 350px;
                .pageScheduleMovie {
                    padding: 10px;
                    box-shadow: $box-shadow;
                    height: 100px;
                    color: $color-black-2;
                    .imageLogo img {
                        width: 80px;
                        height: 80px;
                    }
                    .inforCinema {
                        line-height: $lgH20;
                        @include colorCinema;
                        a {
                            text-decoration: none;
                        }
                        .showTime {
                            border: 1px solid;
                            border-radius: 5px;
                            padding: 2px 4px;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .MuiTab-wrapper {
                color: $color-black-2 !important;
            }
            .MuiTabs-indicator {
                display: none !important;
            }
        }
    }
}

// scroll css
.rowScheduleMovie::-webkit-scrollbar {
    @include scrollbar;
}
.rowScheduleMovie::-webkit-scrollbar-thumb {
    @include scrollbarThumb;
}


@media (max-width: 420px) {
    .inforCinema {
        line-height: 15px !important;
        p {
            font-size: 12px !important;
        }
    }
}
@media (max-width: 320px) {
    .scheduleMovie {
        .titleDate {
            font-size: 13px !important;
        }
        .imageLogo img {
            width: 60px !important;
            height: 80px !important;
            margin-bottom: 30px;
        }
        .inforCinema {
            line-height: 13px !important;
            p {
                font-size: 9px !important;
            }
        }
    }
}
