.detailTab {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#09181f), to(#133241));
  background: linear-gradient(#09181f, #133241);
  color: #f5f5f5;
  padding: 20px 0;
}

.detailTab .tabMovie .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected {
  color: #f5f5f5 !important;
  font-weight: bold;
}

.detailTab .tabMovie .MuiTabs-indicator {
  display: none !important;
}

.detailTab .infoMovie {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.detailTab .infoMovie ul li {
  list-style: none;
}

.detailTab .detailTabCinema {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fff;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.detailTab .detailTabCinema .accordionLogo {
  width: 100%;
  text-align: center;
}

.detailTab .detailTabCinema .accordionLogo .titleLogo {
  font-size: 13px;
  font-weight: bold;
  color: #212321;
}

.detailTab .detailTabCinema .accordionLogo .logoCinema .loGo {
  opacity: 0.7;
}

.detailTab .detailTabCinema .accordionLogo .logoCinema .loGo button {
  border: none;
  cursor: pointer;
  background-color: white;
}

.detailTab .detailTabCinema .accordionLogo .logoCinema .loGo button .images {
  width: 40px;
  margin: 10px 0;
}

.detailTab .detailTabCinema .accordionLogo .logoCinema .loGo p {
  color: gray;
  font-weight: bold;
  font-size: 13px;
}

.detailTab .detailTabCinema .accordionLogo .logoCinema .loGo_Active {
  opacity: 1.5;
}

.detailTab .detailTabCinema .accordionLogo .logoCinema .loGo_Active button {
  border: none;
  cursor: pointer;
  background-color: white;
}

.detailTab .detailTabCinema .accordionLogo .logoCinema .loGo_Active button .images {
  width: 40px;
  margin: 10px 0;
}

.detailTab .detailTabCinema .accordionLogo .logoCinema .loGo_Active p {
  color: gray;
  font-weight: bold;
  font-size: 13px;
}

.detailTab .detailTabCinema .scheduleMovie {
  width: 100%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  font-size: 13px;
}

.detailTab .detailTabCinema .scheduleMovie .titleDate {
  color: #212321;
  text-align: center;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie {
  overflow-y: scroll;
  height: 350px;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie {
  padding: 10px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
          box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  height: 100px;
  color: #212321;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie .imageLogo img {
  width: 80px;
  height: 80px;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie .inforCinema {
  line-height: 20px;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie .inforCinema .BHDStar {
  color: #56ab2f;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie .inforCinema .CGV {
  color: #e73827;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie .inforCinema .CineStar {
  color: #734b6d;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie .inforCinema .Galaxy {
  color: #f56217;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie .inforCinema .LotteCinima {
  color: #fd746c;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie .inforCinema .MegaGS {
  color: #f8b500;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie .inforCinema a {
  text-decoration: none;
}

.detailTab .detailTabCinema .scheduleMovie .rowScheduleMovie .pageScheduleMovie .inforCinema .showTime {
  border: 1px solid;
  border-radius: 5px;
  padding: 2px 4px;
  margin-left: 5px;
}

.detailTab .detailTabCinema .scheduleMovie .MuiTab-wrapper {
  color: #212321 !important;
}

.detailTab .detailTabCinema .scheduleMovie .MuiTabs-indicator {
  display: none !important;
}

.rowScheduleMovie::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.rowScheduleMovie::-webkit-scrollbar-thumb {
  background: #e2dfdf;
  border-radius: 6px;
}

@media (max-width: 420px) {
  .inforCinema {
    line-height: 15px !important;
  }
  .inforCinema p {
    font-size: 12px !important;
  }
}

@media (max-width: 320px) {
  .scheduleMovie .titleDate {
    font-size: 13px !important;
  }
  .scheduleMovie .imageLogo img {
    width: 60px !important;
    height: 80px !important;
    margin-bottom: 30px;
  }
  .scheduleMovie .inforCinema {
    line-height: 13px !important;
  }
  .scheduleMovie .inforCinema p {
    font-size: 9px !important;
  }
}
/*# sourceMappingURL=detailTab.css.map */