@import "../../../assets/Style/scss/main/main.scss";

.movieDetail {
    overflow: hidden;
    background: linear-gradient(#09181f, #133241);
    .movieIntro {
        position: relative;
        .movieDetail_bg img {
            width: 100%;
            height: 700px;
            filter: blur(15px);
        }
        .movieDetail_Intro {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .images {
                position: relative;
                img {
                    width: 160px;
                    height: 200px;
                    border-radius: 10px;
                }
                .modalPlay {
                    width: 30px;
                    height: 30px;
                    @include modalPlay;
                    left: 23%;
                    transform: translate(-23%, -50%);
                }
            }
            .images:hover .modalPlay {
                opacity: 1;
                transition: 0.5s;
            }

            .intro {
                p {
                    color: $color-white-2;
                    font-weight: $fw-500;
                    line-height: $lgH30;
                }
                label {
                    color: $color-white-2;
                    font-size: $fs15;
                }
                span {
                    background-color: $color-red;
                    @include spanButton;
                }
            }
            .rating {
                .CircularProgressbar {
                    width: 100px;
                    margin-bottom: 10px;
                }
                p {
                    color: yellow;
                }
                span {
                    color: $color-white;
                    font-size: $fs15;
                }
            }
        }
    }
}

@media (max-width: 920px) {
    .images {
        .modalPlay {
            left: 30% !important;
            transform: translate(-30%, -50%) !important;
        }
    }
}
@media (max-width: 600px) {
    .movieDetail_Intro {
        text-align: center !important;
        .images {
            .modalPlay {
                left: 50% !important;
                transform: translate(-50%, -50%) !important;
            }
        }
    }
}
