$border: 1px solid white;
// rowOneNavigation_ChildTab
@mixin btnImages {
    img {
        width: 40px;
        margin: 30px 0;
        cursor: pointer;
    }
}
// scrollbar
@mixin scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5;
}
// scrollbar
@mixin scrollbarThumb {
    background: #e2dfdf;
    border-radius: 6px;
}
//scroll row
@mixin scrollRow {
    float: left;
    height: 636px;
    width: 100%;
    overflow-y: scroll;
    border-right: $border;
    align-content: flex-start;
}
// color text Cinema
@mixin colorCinema {
    .BHDStar {
        color: $colorBhd;
    }
    .CGV {
        color: $colorCgv;
    }
    .CineStar {
        color: $colorCinestar;
    }
    .Galaxy {
        color: $colorGlaxy;
    }
    .LotteCinima {
        color: $colorLotte;
    }
    .MegaGS {
        color: $colorMegas;
    }
}
@mixin bgColorCinema {
    .BHDStar {
        @include maRap;
        background-color: $colorBhd;
    }
    .CGV {
        @include maRap;
        background-color: $colorCgv;
    }
    .CineStar {
        @include maRap;
        background-color: $colorCinestar;
    }
    .Galaxy {
        @include maRap;
        background-color: $colorGlaxy;
    }
    .LotteCinima {
        @include maRap;
        background-color: $colorLotte;
    }
    .MegaGS {
        @include maRap;
        background-color: $colorMegas;
    }
}
// maRap_`maHeThongRap`
@mixin maRap {
    padding: 3px 6px;
    border-radius: 5px;
    color: $color-white;
    font-size: 13px;
    cursor: pointer;
}
// rowChild
@mixin rowChild {
    border-bottom: $border;
    padding-left: 10px;
}

@mixin cloneChildTab {
    @include rowChild;
    transition: 0.5s;
    padding: 10px;
    .childTab_Intro {
        font-weight: 600;
        font-size: 15px;
        @include colorCinema;
        .child_Image img {
            width: 60px;
            height: 60px;
        }
        .child_Intro {
            .address {
                color: $color-black-2;
                font-size: $fs12;
            }
            span {
                color: $color-red;
                font-weight: 100;
                font-size: $fs12;
                font-weight: $fw-bold;
                cursor: pointer;
            }
        }
    }
}

//tab there

@mixin childTab {
    height: 100px;
    padding: 5px;
    background-color: $background-3;
    border: $border;
    border-radius: $boderR5;
}
