.bgNaVigation {
  height: 50px;
}

.naViGaTionTab {
  border-radius: 5px;
  border: 1px solid white;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.naViGaTionTab .rowOneNavigationTab {
  text-align: center;
  border-right: 1px solid white;
}

.naViGaTionTab .rowOneNavigationTab .rowOneNavigation_ChildTab {
  opacity: 0.7;
  border-bottom: 1px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.naViGaTionTab .rowOneNavigationTab .rowOneNavigation_ChildTab button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fdfbfb;
}

.naViGaTionTab .rowOneNavigationTab .rowOneNavigation_ChildTab button .rowOneNavigation_ChildTab_Images {
  width: 40px;
  margin: 30px 0;
}

.naViGaTionTab .rowOneNavigationTab .rowOneNavigation_ChildTab_Active {
  opacity: 1.5;
  border-bottom: 1px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.naViGaTionTab .rowOneNavigationTab .rowOneNavigation_ChildTab_Active button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fdfbfb;
}

.naViGaTionTab .rowOneNavigationTab .rowOneNavigation_ChildTab_Active button .rowOneNavigation_ChildTab_Images {
  width: 40px;
  margin: 30px 0;
}

.naViGaTionTab .rowTwoNavigationTab {
  float: left;
  height: 636px;
  width: 100%;
  overflow-y: scroll;
  border-right: 1px solid white;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab {
  opacity: 0.7;
  border-bottom: 1px solid white;
  padding-left: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro {
  font-weight: 600;
  font-size: 15px;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro .BHDStar {
  color: #56bb52;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro .CGV {
  color: #ee2d24;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro .CineStar {
  color: #662d91;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro .Galaxy {
  color: #ff8121;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro .LotteCinima {
  color: #ed1b24;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro .MegaGS {
  color: #ebb427;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro .Child_Image img {
  width: 60px;
  height: 60px;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro .Child_Intro p {
  margin-bottom: 0;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro .Child_Intro .address {
  color: gray;
  font-size: 12px;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab .rowTwoNavigation_ChildTab_Intro .Child_Intro span {
  color: red;
  font-weight: 100;
  font-size: 12px;
  cursor: pointer;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active {
  opacity: 1.5;
  border-bottom: 1px solid white;
  padding-left: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro {
  font-weight: 600;
  font-size: 15px;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro .BHDStar {
  color: #56bb52;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro .CGV {
  color: #ee2d24;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro .CineStar {
  color: #662d91;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro .Galaxy {
  color: #ff8121;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro .LotteCinima {
  color: #ed1b24;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro .MegaGS {
  color: #ebb427;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro .Child_Image img {
  width: 60px;
  height: 60px;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro .Child_Intro p {
  margin-bottom: 0;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro .Child_Intro .address {
  color: gray;
  font-size: 12px;
}

.naViGaTionTab .rowTwoNavigationTab .rowTwoNavigation_ChildTab_Active .rowTwoNavigation_ChildTab_Intro .Child_Intro span {
  color: red;
  font-weight: 100;
  font-size: 12px;
  cursor: pointer;
}

.naViGaTionTab .rowThereNavigationTab {
  height: 636px;
  overflow: hidden;
}

.naViGaTionTab .rowThereNavigationTab .paperBar {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.naViGaTionTab .rowThereNavigationTab .titleDate {
  text-align: center;
  color: gray;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab {
  height: 100%;
  overflow-y: scroll;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab {
  padding: 10px;
  font-weight: 600;
  border-bottom: 1px solid white;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Img {
  text-align: center;
  height: 100px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Img img {
  width: 60px;
  height: 90px;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Intro {
  font-size: 13px;
  height: 100px;
  color: gray;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  cursor: pointer;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Intro .BHDStar {
  padding: 3px 6px;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 13px;
  cursor: pointer;
  background-color: #56bb52;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Intro .CGV {
  padding: 3px 6px;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 13px;
  cursor: pointer;
  background-color: #ee2d24;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Intro .CineStar {
  padding: 3px 6px;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 13px;
  cursor: pointer;
  background-color: #662d91;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Intro .Galaxy {
  padding: 3px 6px;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 13px;
  cursor: pointer;
  background-color: #ff8121;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Intro .LotteCinima {
  padding: 3px 6px;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 13px;
  cursor: pointer;
  background-color: #ed1b24;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Intro .MegaGS {
  padding: 3px 6px;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 13px;
  cursor: pointer;
  background-color: #ebb427;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Intro span {
  margin-left: 5px;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Timer {
  height: 100px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Timer .dateTimer p {
  font-size: 13px;
  color: gray;
  line-height: 20px;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Timer .dateTimer .BHDStar {
  color: #56bb52;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Timer .dateTimer .CGV {
  color: #ee2d24;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Timer .dateTimer .CineStar {
  color: #662d91;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Timer .dateTimer .Galaxy {
  color: #ff8121;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Timer .dateTimer .LotteCinima {
  color: #ed1b24;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Timer .dateTimer .MegaGS {
  color: #ebb427;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Timer .dateTimer .timeCode {
  font-size: 15px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  padding: 2px;
}

.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Intro:hover,
.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Timer:hover,
.naViGaTionTab .rowThereNavigationTab .rowThereNavigation_ChildTab .ChildTab .ChildTab_Img:hover {
  background-color: white;
}

.rowTwoNavigationTab::-webkit-scrollbar,
.rowThereNavigation_ChildTab::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.rowTwoNavigationTab::-webkit-scrollbar-thumb,
.rowThereNavigation_ChildTab::-webkit-scrollbar-thumb {
  background: #e2dfdf;
  border-radius: 6px;
}

@media (max-width: 1000px) {
  .naViGaTionTab {
    display: none !important;
  }
}
/*# sourceMappingURL=Navigation.style.css.map */