@import "../../../assets/Style/scss/main/main.scss";

// background 2 div
.bgNaVigation {
    height: 50px;
}

.naViGaTionTab {
    border-radius: $border;
    border: $border;
    background-color: $background-3;
    box-shadow: $box-shadow;
    backdrop-filter: blur(6px);
    // row one
    .rowOneNavigationTab {
        text-align: center;
        border-right: $border;
        .rowOne_ChildTab {
            opacity: 0.5;
            @include btnImages;
        }
        .rowOne_ChildTab_Active {
            opacity: 1.5;
            @include btnImages;
        }
    }
    // row one

    // row two
    .rowTwoNavigationTab {
        @include scrollRow;
        .rowTwo_ChildTab {
            opacity: 0.7;
            @include cloneChildTab;
        }
        .rowTwo_ChildTab_Active {
            opacity: 1.5;
            @include cloneChildTab;
        }
    }
    // row two

    // row there
    .rowThereNavigationTab {
        height: 636px;
        overflow: hidden;
        .paperBar {
            background-color: $background-3;
            color: $color-black-2;
            span {
                color: $color-black-2 !important;
            }
        }
        .titleDate {
            text-align: center;
            color: $color-black-2;
        }
        .rowThereNavigation_ChildTab {
            height: 100%;
            overflow-y: scroll;
            align-content: flex-start;
            .ChildTab {
                padding: 10px;
                font-weight: 600;
                border-bottom: $border;
                .ChildTab_Img {
                    @include childTab;
                    text-align: center;
                    img {
                        width: 70px;
                        height: 90px;
                    }
                }
                .ChildTab_Intro {
                    @include childTab;
                    cursor: pointer;
                    font-size: $fs13;
                    color: $color-black-2;
                    @include bgColorCinema;
                    span {
                        margin-left: 5px;
                    }
                }
                .ChildTab_Timer {
                    @include childTab;
                    .dateTimer {
                        p {
                            font-size: $fs13;
                            color: $color-black-2;
                            line-height: 20px;
                        }
                        @include colorCinema;
                        .timeCode {
                            font-size: $fs15;
                            padding: 2px;
                            border: 1px solid;
                            border-radius: $boderR5;
                            cursor: pointer;
                        }
                    }
                }
                .ChildTab_Intro:hover,
                .ChildTab_Timer:hover,
                .ChildTab_Img:hover {
                    background-color: $color-white;
                }
            }
        }
    }
    // row there
}

// scroll css
.rowTwoNavigationTab::-webkit-scrollbar,
.rowThereNavigation_ChildTab::-webkit-scrollbar {
    @include scrollbar;
}
.rowTwoNavigationTab::-webkit-scrollbar-thumb,
.rowThereNavigation_ChildTab::-webkit-scrollbar-thumb {
    @include scrollbarThumb;
}

@media (max-width: 1000px) {
    .naViGaTionTab {
        display: none !important;
    }
}
