@import "../../../assets/Style/scss/main/main.scss";

.backgroundSignUp {
    @include backgroundForm;
    padding: 50px 0;
    .wrapSignUp {
        @include warpForm;
        h5 {
            @include h5title;
        }
        input {
            @include inputForm;
        }
        input::placeholder {
            @include placeHoderForm;
        }
        span {
            @include spanValid;
        }
        select {
            @include selectForm;
        }

        button {
            @include buttonForm;
        }
    }
}

.mesageInfoUser {
    @include modalBg;
    .modalMesage {
        @include modalMessage;
        h5 {
            @include h5title;
        }
        table {
            font-size: $fs13;
            line-height: $lgH30;
            margin: 10px 0;
            td {
                padding-right: 30px;
                border-bottom: $borderTable;
            }
        }
        span {
            @include spanValid;
            font-size: $fs20;
        }
        button {
            @include buttonForm;
            background-color: $color-white-2;
        }
    }
}
