.menu {
  background-color: white !important;
  justify-content: flex-end;
  box-shadow: none !important;

  color: #fa5238 !important;
}
.containerS {
  margin-top: 80px !important;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 15px 15px 50px #e4e4e4;
}
.PrivateTabIndicator-colorSecondary-5 {
  background-color: #fa5238 !important;
  color: #fa5238 !important;
}
.MuiTabs-flexContainer {
  justify-content: flex-end;
}
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected {
  color: #fa5238 !important;
}
.MuiAppBar-colorPrimary {
  color: #fa5238 !important;
}
.PrivateTabIndicator-root-3.PrivateTabIndicator-colorSecondary-5.MuiTabs-indicator {
  background-color: #fa5238 !important;
}
table {
  position: relative;
  th {
    min-width: 20%;
  }
  button#btnUpdate {
    position: absolute;
    right: 0;
  }
}
#table__booking {
  th {
    text-align: center;
    // width: 100px;
  }
  td {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  td:nth-child(3) {
    display: -webkit-box;
    // width: 100px;
    max-width: 100ch;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    max-height: fit-content;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.reponsiveTable {
  @media screen and (max-width: 843px) {
    overflow: scroll;
  }
}
