@import "../../../assets/Style/scss/main/main.scss";

.formClient {
    .inputSearch {
        @include inputForm;
    }
    h5 {
        @include h5title;
        color: $color-white-2;
    }
    button {
        @include buttonForm;
        margin-left: 10px;
    }
    span {
        font-size: 13px;
        color: $color-white-2;
        font-weight: bold;
    }
    select {
        @include selectForm;
        max-width: 100px;
    }
}
.tableClient {
    min-width: 1300px;
    .iconDelete {
        color: $color-red;
        cursor: pointer;
    }
    .iconEdit {
        color: $colorCinestar;
        cursor: pointer;
    }
}

