@import "../../../assets/Style/scss/main/main.scss";

.updateList {
    @include backgroundFormEdit;
    .wrapFromEdit {
        @include warpForm;
        max-width: 500px;
        h5 {
            @include h5title;
        }
        input {
            @include inputForm;
        }
        input::placeholder {
            @include placeHoderForm;
        }
        label {
            @include labelForm;
        }
        p {
            text-align: center;
            @include spanValid;
        }
        select {
            @include selectForm;
        }
        button {
            @include buttonForm;
            margin: 0 5px;
        }
    }
}
