@import "../../../assets/Style/scss/main/main.scss";

.addClient {
    @include backgroundFormEdit;
    .wrapFromAdd {
        @include warpForm;
        h5 {
            @include h5title;
        }
        input {
            @include inputForm;
        }
        input::placeholder {
            @include placeHoderForm;
        }
        label {
            @include labelForm;
        }
        p {
            text-align: center;
            @include spanValid;
        }
        select {
            @include selectForm;
        }

        button {
            @include buttonForm;
            margin: 0 5px;
        }
    }
}
.modalAddClient {
    font-size: $fs13;
    font-weight: $fw-bold;
    color: $color-black-2;
    padding: 20px;
    background-color: $background-3;
    border: $border;
    box-shadow: $box-shadow;
    border-radius: $boderR5;
    td {
        border-bottom: $borderTable;
        line-height: $lgH30;
    }
    button {
        border: none;
        outline: none;
        background-color: white;
        cursor: pointer;
        color: $color-red;
    }
}
