@import "../../../assets/Style/scss/main/main.scss";

.adminPage {
    h5 {
        @include h5title;
        color: $color-white;
    }
    span {
        @include textTitlte;
        color: $color-white;
    }
    select {
        @include select;
    }
}
//  dùng cho movie + client
.pagination {
    margin: 20px 0;
    min-width: 1300px;
    select {
        padding: 10px 5px;
        border-radius: 5px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.808);
        color: gray;
    }
}