@import "../../../assets/Style/scss/main/main.scss";

.textSignOut {
    font-size: $fs15;
    font-weight: $fw-500;
    margin-bottom: 5px;
    color: $color-black-2;
    margin-top: 5px;
}
.iconSignOut {
    color: $color-gray-1;
    margin-right: 5px;
}
