.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  flex-basis: 8.33333%;
}

.col-2 {
  flex-basis: 16.66667%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.33333%;
}

.col-5 {
  flex-basis: 41.66667%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.33333%;
}

.col-8 {
  flex-basis: 66.66667%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.33333%;
}

.col-11 {
  flex-basis: 91.66667%;
}

.col-12 {
  flex-basis: 100%;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.container:not(.is-fluid) {
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 570px;
  }
}

@media only screen and (min-width: 900px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 860px;
  }
}

@media only screen and (min-width: 1200px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 1150px;
  }
}

@media only screen and (min-width: 1800px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 1400px;
  }
}

.container-sm {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .container-sm {
    max-width: 570px;
  }
}

@media only screen and (min-width: 900px) {
  .container-sm {
    max-width: 860px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-sm {
    max-width: 1150px;
  }
}

@media only screen and (min-width: 1800px) {
  .container-sm {
    max-width: 1400px;
  }
}

.container-md {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .container-md {
    max-width: 860px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-md {
    max-width: 1150px;
  }
}

@media only screen and (min-width: 1800px) {
  .container-md {
    max-width: 1400px;
  }
}

.container-lg {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .container-lg {
    max-width: 1150px;
  }
}

@media only screen and (min-width: 1800px) {
  .container-lg {
    max-width: 1400px;
  }
}

.container-xl {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

@media only screen and (min-width: 1800px) {
  .container-xl {
    max-width: 1400px;
  }
}

/* responsive row col */
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* responsive row col */
/*# sourceMappingURL=index.css.map */