@import "../../../assets/Style/scss/main/main.scss";

.backgroundSignIn {
    @include backgroundForm;
    .wrapLogin {
        @include warpForm;
        h5 {
            @include h5title;
        }
        input {
            @include inputForm;
        }
        input::placeholder {
            @include placeHoderForm;
        }
        .inputShow {
            width: 100%;
            .showPassWord {
                position: absolute;
                right: 2%;
                cursor: pointer;
                .MuiSvgIcon-root {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        button {
            @include buttonForm;
        }
    }
}
