.MuiMenuItem-root {
  font-size: 13px !important;
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  display: none !important;
}

.rowOneinfoPhim {
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#09181f), to(#133241));
  background: linear-gradient(#09181f, #133241);
}

.rowOneinfoPhim .backgroundPhim img {
  width: 100%;
  height: 300px;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.rowOneinfoPhim .rowOneintroPhim {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.rowOneinfoPhim .rowOneintroPhim img {
  width: 150px;
  border-radius: 10px;
}

.rowOneinfoPhim .rowOneintroPhim span {
  border-radius: 5px;
  background-color: #ff0000;
  padding: 5px;
}

.rowOneinfoPhim .rowOneintroPhim p {
  color: #f5f5f5;
  font-weight: 600;
  margin-top: 10px;
}

.cinemaDetail {
  background: -webkit-gradient(linear, left top, left bottom, from(#09181f), to(#133241));
  background: linear-gradient(#09181f, #133241);
  padding: 50px 0;
}

.cinemaDetail .infoPhimCinemaDetail {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ebebec;
  background-color: #f5f5f5;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail {
  overflow-y: scroll;
  width: 100%;
  font-size: 13px;
  max-height: 419px;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .titleLogo {
  font-weight: bold;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema {
  opacity: 0.5;
  padding: 10px;
  border-bottom: 2px solid #f5f5f5;
  height: 90px;
  cursor: pointer;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema .imageCinema {
  width: 60px;
  height: 60px;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema .BHDStar {
  color: #56ab2f;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema .CGV {
  color: #ff3a22;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema .CineStar {
  color: #bf4aa8;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema .Galaxy {
  color: #f7882f;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema .LotteCinima {
  color: #800000;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema .MegaGS {
  color: #ffde22;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active {
  opacity: 1.5;
  padding: 10px;
  border-bottom: 2px solid #f5f5f5;
  height: 90px;
  cursor: pointer;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .imageCinema {
  width: 60px;
  height: 60px;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .BHDStar {
  color: #56ab2f;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .CGV {
  color: #ff3a22;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .CineStar {
  color: #bf4aa8;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .Galaxy {
  color: #f7882f;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .LotteCinima {
  color: #800000;
}

.cinemaDetail .infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .MegaGS {
  color: #ffde22;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowDate {
  z-index: 1;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowDate .MuiTabs-indicator {
  background-color: #212321 !important;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .titleDate {
  font-size: 15px;
  color: #222;
  font-weight: bold;
  text-align: center;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim {
  overflow-y: scroll;
  width: 100%;
  font-size: 13px;
  max-height: 350px;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie {
  opacity: 1.5;
  padding: 10px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
          box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  color: #212321;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .imfoPhim {
  height: 120px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .imfoPhim img {
  width: 80px;
  height: 80px;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .imfoPhim span {
  margin-left: 5px;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .imfoPhim span .maPhim {
  background-color: #ff0000;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .tabTimer {
  height: 120px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .tabTimer p {
  line-height: 25px;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .tabTimer .BHDStar {
  color: #56ab2f;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .tabTimer .CGV {
  color: #ff3a22;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .tabTimer .CineStar {
  color: #bf4aa8;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .tabTimer .Galaxy {
  color: #f7882f;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .tabTimer .LotteCinima {
  color: #800000;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .tabTimer .MegaGS {
  color: #ffde22;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .tabTimer .timer {
  border: 2px solid;
  border-radius: 5px;
  padding: 2px;
  font-size: 13px;
  cursor: pointer;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .imfoPhim:hover,
.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .showSheduleMovie .tabTimer:hover {
  background-color: #fff;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie {
  opacity: 0.5;
  padding: 10px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
          box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  color: #212321;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .imfoPhim {
  height: 120px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .imfoPhim img {
  width: 80px;
  height: 80px;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .imfoPhim span {
  margin-left: 5px;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .imfoPhim span .maPhim {
  background-color: #ff0000;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .tabTimer {
  height: 120px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .tabTimer p {
  line-height: 25px;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .tabTimer .BHDStar {
  color: #56ab2f;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .tabTimer .CGV {
  color: #ff3a22;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .tabTimer .CineStar {
  color: #bf4aa8;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .tabTimer .Galaxy {
  color: #f7882f;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .tabTimer .LotteCinima {
  color: #800000;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .tabTimer .MegaGS {
  color: #ffde22;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .tabTimer .timer {
  border: 2px solid;
  border-radius: 5px;
  padding: 2px;
  font-size: 13px;
  cursor: pointer;
}

.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .imfoPhim:hover,
.cinemaDetail .infoPhimCinemaDetail .rowMovieCinemaDetail .rowInfoPhim .hidenSheduleMovie .tabTimer:hover {
  background-color: #fff;
}

.rowCinemaDetail::-webkit-scrollbar,
.rowInfoPhim::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.rowCinemaDetail::-webkit-scrollbar-thumb,
.rowInfoPhim::-webkit-scrollbar-thumb {
  background: #e2dfdf;
  border-radius: 6px;
}

@media (max-width: 430px) {
  .rowCinemaDetail .addresCinema,
  .rowCinemaDetail .addresCinema_Active {
    font-size: 10px;
  }
  .rowInfoPhim .shedulePhim {
    margin: 5px !important;
    font-size: 10px !important;
  }
  .rowInfoPhim .shedulePhim p {
    line-height: 17px !important;
  }
  .rowInfoPhim .shedulePhim .imgPhim img {
    width: 60px !important;
    height: 80px !important;
  }
  .rowInfoPhim .shedulePhim .maPhim {
    font-size: 10px !important;
    padding: 2px !important;
    margin-right: 1px !important;
  }
  .rowInfoPhim .shedulePhim .tabTimer .timer {
    font-size: 10px !important;
  }
}

@media (max-width: 350px) {
  .imageCinema {
    width: 40px !important;
    height: 50px !important;
  }
}

@media (max-width: 330px) {
  .rowCinemaDetail .addresCinema,
  .rowCinemaDetail .addresCinema_Active {
    height: 100px !important;
  }
  .rowCinemaDetail p {
    font-size: 10px !important;
  }
  .rowInfoPhim .shedulePhim .maPhim {
    margin: 20px;
  }
  .rowInfoPhim .shedulePhim .phim {
    font-size: 10px !important;
  }
  .rowInfoPhim .shedulePhim .imgPhim img {
    width: 60px !important;
    height: 80px !important;
  }
}
/*# sourceMappingURL=cinemaDetailComponent.css.map */