.rowOneinfoPhim {
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#09181f), to(#133241));
  background: linear-gradient(#09181f, #133241);
}

.rowOneinfoPhim .backgroundPhim img {
  width: 100%;
  height: 400px;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.rowOneinfoPhim .rowOneintroPhim {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 0%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  font-size: 15px;
}

.rowOneinfoPhim .rowOneintroPhim img {
  width: 150px;
  border-radius: 10px;
}

.rowOneinfoPhim .rowOneintroPhim span {
  border-radius: 5px;
  background-color: red;
  padding: 5px;
}

.rowOneinfoPhim .rowOneintroPhim p {
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

.MuiGrid-container {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.infoPhimCinemaDetail {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  margin: 50px 0;
}

.infoPhimCinemaDetail .rowCinemaDetail {
  overflow-y: scroll;
  max-height: 350px;
  width: 100%;
  font-size: 13px;
  color: gray;
}

.infoPhimCinemaDetail .rowCinemaDetail .titleLogo {
  font-weight: bold;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema {
  opacity: 0.5;
  padding: 10px;
  border-bottom: 2px solid #f5f5f5;
  height: 90px;
  cursor: pointer;
  font-weight: bold;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema .imageCinema {
  width: 60px;
  height: 60px;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema .BHDStar {
  color: #56bb52;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema .CGV {
  color: #e71a0e;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema .CineStar {
  color: #662d91;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema .Galaxy {
  color: #ff8121;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema .LotteCinima {
  color: #ed1c24;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema .MegaGS {
  color: #ebb427;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active {
  opacity: 1.5;
  padding: 10px;
  border-bottom: 2px solid #f5f5f5;
  height: 90px;
  cursor: pointer;
  font-weight: bold;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .imageCinema {
  width: 60px;
  height: 60px;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .BHDStar {
  color: #56bb52;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .CGV {
  color: #e71a0e;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .CineStar {
  color: #662d91;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .Galaxy {
  color: #ff8121;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .LotteCinima {
  color: #ed1c24;
}

.infoPhimCinemaDetail .rowCinemaDetail .addresCinema_Active .MegaGS {
  color: #ebb427;
}

.infoPhimCinemaDetail .rowInfoPhim {
  overflow-y: scroll;
  max-height: 350px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
}

.infoPhimCinemaDetail .rowInfoPhim .shedulePhim {
  padding: 10px;
  border-bottom: 2px solid #f5f5f5;
  color: gray;
}

.infoPhimCinemaDetail .rowInfoPhim .shedulePhim .imgPhim {
  width: 80px;
  height: 80px;
}

.infoPhimCinemaDetail .rowInfoPhim .shedulePhim .phim {
  color: gray;
  font-size: 13px;
}

.infoPhimCinemaDetail .rowInfoPhim .shedulePhim .phim .maPhim {
  background-color: #e71a0e;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}

.infoPhimCinemaDetail .rowInfoPhim .shedulePhim .tabTimer {
  overflow-y: scroll;
  width: 100%;
  max-height: 200px;
}

.infoPhimCinemaDetail .rowInfoPhim .shedulePhim .tabTimer a {
  text-decoration: none;
}

.infoPhimCinemaDetail .rowInfoPhim .shedulePhim .tabTimer .timer {
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  line-height: 30px;
  color: #56bb52;
  font-size: 17px;
  cursor: pointer;
}

.rowCinemaDetail::-webkit-scrollbar,
.rowInfoPhim::-webkit-scrollbar,
.tabTimer::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.rowCinemaDetail::-webkit-scrollbar-thumb,
.rowInfoPhim::-webkit-scrollbar-thumb,
.tabTimer::-webkit-scrollbar-thumb {
  background: #e2dfdf;
  border-radius: 6px;
}

@media (max-width: 430px) {
  .rowCinemaDetail .addresCinema,
  .rowCinemaDetail .addresCinema_Active {
    font-size: 10px;
  }
  .rowInfoPhim {
    text-align: center;
  }
  .rowInfoPhim .shedulePhim {
    font-size: 10px !important;
  }
  .rowInfoPhim .shedulePhim p {
    line-height: 20px;
  }
  .rowInfoPhim .shedulePhim .imgPhim {
    width: 60px !important;
    height: 60px !important;
  }
  .rowInfoPhim .shedulePhim .maPhim {
    font-size: 10px !important;
    padding: 2px !important;
    margin-right: 1px !important;
  }
  .rowInfoPhim .shedulePhim .tabTimer .timer {
    font-size: 10px !important;
  }
}

@media (max-width: 350px) {
  .imageCinema {
    width: 40px !important;
    height: 50px !important;
  }
}

@media (max-width: 330px) {
  .rowCinemaDetail .addresCinema,
  .rowCinemaDetail .addresCinema_Active {
    height: 100px !important;
  }
  .rowCinemaDetail p {
    font-size: 10px !important;
  }
  .rowInfoPhim .shedulePhim {
    padding: 0 !important;
  }
  .rowInfoPhim .shedulePhim .phim {
    font-size: 8px !important;
  }
  .rowInfoPhim .shedulePhim .imgPhim {
    width: 60px !important;
    height: 80px !important;
  }
}
/*# sourceMappingURL=cinemaDetailComponent.css.map */