.MuiMenuItem-root {
  font-size: 13px !important;
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  display: none !important;
}

.ant-avatar {
  padding: 15px 8px 15px 8px;
  border-radius: 50%;
  color: white;
}

.checkInfo .countDownTimerMain {
  text-align: center;
  color: #afafaf;
  font-size: 15px;
  font-weight: 400;
}

.checkInfo .countDownTimerMain p {
  color: #424242;
  font-size: 15px;
  font-weight: 400;
}

.checkInfo .countDownTimerMain .expiredCheckout {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
}

.checkInfo .countDownTimerMain .expiredCheckout .modalMesage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #212321;
  font-size: 15px;
  font-weight: bold;
}

.checkInfo .countDownTimerMain .expiredCheckout .modalMesage p {
  color: #ff0000;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 10px;
}

.stePper span {
  border-radius: 50px;
  font-weight: bold;
}

.stePper .MuiStepIcon-root.MuiStepIcon-active {
  color: #212321;
  font-weight: bold;
}

.stePper .MuiStepIcon-root.MuiStepIcon-completed {
  color: #212321;
  font-weight: bold;
}

.booking .screen img {
  width: 100%;
  height: 80px;
}

.booking .MuiCardHeader-avatar .MuiAvatar-colorDefault {
  font-size: 10px;
  font-weight: bold;
}

.booking .MuiCardHeader-avatar .BHD {
  background-color: #56ab2f !important;
}

.booking .MuiCardHeader-avatar .CGV {
  background-color: #ff3a22 !important;
}

.booking .MuiCardHeader-avatar .CNS {
  background-color: #bf4aa8 !important;
}

.booking .MuiCardHeader-avatar .GLX {
  background-color: #f7882f !important;
}

.booking .MuiCardHeader-avatar .Lot {
  background-color: #800000 !important;
}

.booking .MuiCardHeader-avatar .Meg {
  background-color: #ffde22 !important;
}

.booking .tableBooking {
  overflow-y: scroll;
  max-height: 380px;
  min-width: 430px;
}

.booking .tableCheckout th {
  font-weight: bolder;
}

.booking .tableCheckout th,
.booking .tableCheckout td {
  font-size: 13px;
  color: #424242;
}

.checkInfo .MuiAvatar-colorDefault {
  font-size: 10px;
  font-weight: bold;
}

.checkInfo .BHD {
  background-color: #56ab2f !important;
}

.checkInfo .CGV {
  background-color: #ff3a22 !important;
}

.checkInfo .CNS {
  background-color: #bf4aa8 !important;
}

.checkInfo .GLX {
  background-color: #f7882f !important;
}

.checkInfo .Lot {
  background-color: #800000 !important;
}

.checkInfo .Meg {
  background-color: #ffde22 !important;
}

.checkInfo p {
  color: #212321;
  font-weight: 400;
  font-size: 13px;
}

.checkInfo span {
  font-weight: bolder;
}

.checkInfo .ticket {
  overflow-y: scroll;
  max-height: 200px;
}

.checkInfo .ticket table {
  border-collapse: collapse;
  width: 100%;
}

.checkInfo .ticket table td,
.checkInfo .ticket table th {
  border: 1px solid #ebebec;
  padding: 5px;
}

.checkInfo .ticket table tr:nth-child(even) {
  background-color: #FFFFFF;
}

.checkInfo .ticket table tr:hover {
  background-color: #f5f5f5;
}

.checkInfo .ticket table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f5f5f5;
  color: #222;
}

.checkInfo .ticket tbody tr td {
  font-size: 14px;
}

.checkInfo .ticket .result {
  font-weight: 500;
}

.subMit {
  text-align: center;
}

.subMit .imgBooking {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}

.subMit #cog {
  -webkit-animation: cog 10s infinite;
  animation: cog 10s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes cog {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes cog {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.subMit p {
  font-size: 13px;
  font-weight: bold;
  color: #212321;
}

.subMit button {
  font-size: 15px;
  padding: 10px 15px;
  color: #212321;
  background-color: #f5f5f5;
  border: 1px solid #ebebec;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.mesageBooking {
  padding: 50px;
  background-color: #FFFFFF;
  border: 1px solid #ebebec;
  outline: none;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
          box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 5px;
  text-align: center;
}

.mesageBooking p {
  color: #424242;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}

.mesageBooking button {
  color: #ff0000;
  background-color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.tableBooking::-webkit-scrollbar,
.movie_tabCheckout::-webkit-scrollbar,
.ticket::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.tableBooking::-webkit-scrollbar-thumb,
.movie_tabCheckout::-webkit-scrollbar-thumb,
.ticket::-webkit-scrollbar-thumb {
  background: #e2dfdf;
  border-radius: 6px;
}

@media (max-width: 730px) {
  .modalMesage {
    font-size: 13px !important;
  }
  .modalMesage p {
    font-size: 13px !important;
  }
}

@media (max-width: 460px) {
  .tableBooking {
    min-width: 100px !important;
  }
  .tableCheckout th,
  .tableCheckout td {
    font-size: 10px !important;
  }
}
/*# sourceMappingURL=bookingComponent.css.map */