@import "../../../assets/Style/scss/main/main.scss";

.countDownTimerMain {
    text-align: center;
    color: gray;
    font-size: 15px;
    font-weight: bold;
    .expiredCheckout {
        display: none;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.85);
        .modalMesage {
            text-align: center;
            border-radius: 4px;
            position: absolute;
            top: 40%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            padding: 10px 20px;
            font-size: 15px;
            // class css
            background-color: white;
            border-radius: 5px;
            color: gray;
            font-weight: bolder;
            p {
                color: red;
                font-weight: bolder;
                cursor: pointer;
                margin-top: 10px;
            }
        }
    }
}

.subMit {
    text-align: center;
    .paper {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-weight: bold;
            color: gray;
        }
    }

    button {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.85);
        color: white;
        font-weight: 500;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.mesageBooking {
    border-radius: 5px;
    padding: 50px;
    background-color: white;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 5px;
    text-align: center;
    p {
        color: gray;
        font-size: 15px;
        font-weight: bold;
        line-height: 30px;
    }
    button {
        color: red;
        background-color: white;
        font-size: 13px;
        font-weight: bold;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.screen {
    img {
        width: 100%;
    }
    margin-bottom: 5px;
}
.movie_bg {
    width: 120px;
    height: 150px;
    border-radius: 5px;
}
.movie_intro {
    font-size: 13px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 5px;
    color: gray;
}

.tableS {
    float: left;
    overflow-y: scroll;
    max-height: 340px;
    margin-top: 10px;
}
.tableCheckout th,
.tableCheckout td {
    font-size: 13px;
    color: gray;
    font-weight: 300;
}

.movie_tabCheckout {
    float: left;
    overflow-y: scroll;
    width: 100%;
    padding: 10px;
    margin: 10px;
    height: 150px;
    font-weight: bolder;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 5px;
    color: gray;
    span {
        font-size: 13px;
        font-weight: bolder;
        line-height: 30px;
    }
    p {
        font-size: 13px;
    }
}

.stePper {
    span {
        border-radius: 50px;
        font-weight: bolder;
    }
    .MuiStepIcon-root.MuiStepIcon-active {
        color: $color-red;
        font-weight: bolder;
    }
    .MuiStepIcon-root.MuiStepIcon-completed {
        color: $color-red;
        font-weight: bolder;
    }
}

// scroll css
.tableS::-webkit-scrollbar,
.movie_tabCheckout::-webkit-scrollbar {
    @include scrollbar;
}
.tableS::-webkit-scrollbar-thumb,
.movie_tabCheckout::-webkit-scrollbar-thumb {
    @include scrollbarThumb;
}
@media (max-width: 730px) {
    .modalMesage {
        font-size: 13px !important;
        p {
            font-size: 13px !important;
        }
    }
}
