@import "../../../assets/Style/scss/main/main.scss";

// stePper
.ant-avatar {
    padding: 15px 8px 15px 8px;
    border-radius: 50%;
    color: white;
}

.stePper {
    span {
        border-radius: 50px;
        font-weight: $fw-bold;
    }
    .MuiStepIcon-root.MuiStepIcon-active {
        color: $color-black-2;
        font-weight: $fw-bold;
    }
    .MuiStepIcon-root.MuiStepIcon-completed {
        color: $color-black-2;
        font-weight: $fw-bold;
    }
}
// stePper

// booking
.booking {
    .countDownTimerMain {
        text-align: center;
        color: $color-gray-1;
        font-size: $fs15;
        font-weight: $fw-500;
        .expiredCheckout {
            display: none;
            @include modalBg;
            .modalMesage {
                @include modalMessage;
                p {
                    color: $color-red;
                    font-weight: bolder;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }
    }
    .screen {
        img {
            width: 100%;
            height: 80px;
        }
    }
    .MuiCardHeader-avatar {
        .MuiAvatar-colorDefault {
            font-size: $fs10;
            font-weight: $fw-bold;
        }
        @include avatarCinema;
    }
    .tableBooking {
        overflow-y: scroll;
        max-height: 380px;
        min-width: 430px;
    }
    .tableCheckout th {
        font-weight: $fw-bolder;
    }
    .tableCheckout th,
    .tableCheckout td {
        font-size: $fs13;
        color: $color-gray-2;
    }
}
// booking

// checkInfo
.checkInfo {
    .MuiAvatar-colorDefault {
        font-size: $fs10;
        font-weight: $fw-bold;
    }
    @include avatarCinema;
    p {
        color: $color-black-2;
        font-weight: $fw-500;
        font-size: $fs13;
    }
    span {
        font-weight: $fw-bolder;
    }
    .ticket {
        overflow-y: scroll;
        max-height: 100px;
    }
}
// checkInfo

.subMit {
    .imgBooking {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        cursor: pointer;
    }
    #cog {
        -webkit-animation: cog 10s infinite;			
        -moz-animation: cog 10s infinite;
        -ms-animation: cog 10s infinite; 			
        animation: cog 10s infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;		
        -ms-animation-timing-function: linear;
        animation-timing-function: linear	
    }
    @keyframes cog {
        100% {
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    text-align: center;
    p {
        font-size: $fs13;
        font-weight: bold;
        color: $color-black-2;
    }
    button {
        @include buttonForm;
    }
}

.mesageBooking {
    padding: 50px;
    background-color: $background-3;
    border: $border;
    outline: none;
    box-shadow: $box-shadow;
    border-radius: $boderR5;
    text-align: center;
    p {
        color: $color-gray-2;
        font-size: $fs15;
        font-weight: $fw-bold;
        line-height: $lgH30;
    }
    button {
        color: $color-red;
        background-color: $background-3;
        font-size: 13px;
        font-weight: bold;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

// scroll css
.tableBooking::-webkit-scrollbar,
.movie_tabCheckout::-webkit-scrollbar,
.ticket::-webkit-scrollbar {
    @include scrollbar;
}
.tableBooking::-webkit-scrollbar-thumb,
.movie_tabCheckout::-webkit-scrollbar-thumb,
.ticket::-webkit-scrollbar-thumb {
    @include scrollbarThumb;
}
@media (max-width: 730px) {
    .modalMesage {
        font-size: 13px !important;
        p {
            font-size: 13px !important;
        }
    }
}
@media (max-width: 460px) {
    .tableBooking {
        min-width: 100px !important;
    }
    .tableCheckout th,
    .tableCheckout td {
        font-size: 10px !important;
    }
}
