// #navbar {
//     transition: top 0.3s;
//     position: fixed;
// }
@mixin headerTitleLink {
    opacity: 0.7;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    margin: 0 10px;
    cursor: pointer;
}
.header {
    background-color: #fafafa;
    overflow: hidden;
    position: fixed !important;
    top: 0;
    width: 100%;
    .headerGridOne {
        text-align: left;
    }
    .headerGridTwo {
        text-align: right;
        margin-right: 50px;
        label {
            @include headerTitleLink;
        }
        :hover {
            color: red;
        }
    }
    .headerGridThere {
        text-align: right;
    }
    .headerloGo {
        width: 50px;
        height: 50px;
        opacity: 0.7;
    }
    .headerTitleLinkThere {
        .headerTitleThere {
            @include headerTitleLink;
        }
        :hover {
            color: gray;
        }
    }

    .headerIconLogIn {
        color: #b0bec5;
        opacity: 0.7;
        vertical-align: middle;
    }
}
@media (max-width: 1000px) {
    .header {
        display: none !important;
    }
}
