.heaerResponsive {
    display: none !important;
    .headerResponsive {
        background-color: #fafafa;
        .headerloGo {
            width: 50px;
            height: 50px;
            opacity: 0.7;
        }
    }
}

@media (max-width: 1000px) {
    .heaerResponsive {
        display: block !important;
    }
}
