.MuiMenuItem-root {
  font-size: 13px !important;
}

.dropDownsRelavite {
  position: relative;
  cursor: pointer;
}

.dropDownsRelavite .dropDownsMain {
  background-color: #FFFFFF;
  border: 1px solid #ebebec;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
          box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  padding: 5px;
  border-radius: 5px;
  width: 960px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 2;
}

.dropDownsRelavite .dropDownsMain .dropDownMaNhom {
  position: relative;
  display: inline-block;
  border-right: 1px solid #ebebec;
  padding-right: 2px;
}

.dropDownsRelavite .dropDownsMain .dropDownMaNhom .dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 14px;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 140px;
}

.dropDownsRelavite .dropDownsMain .dropDownMaNhom svg {
  font-size: 15px;
}

.dropDownsRelavite .dropDownsMain .dropDownMaNhom .contentMaNhom {
  width: 140px;
  height: 300px;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropDownsRelavite .dropDownsMain .dropDownMaNhom .contentMaNhom a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropDownsRelavite .dropDownsMain .dropdownPhim {
  position: relative;
  display: inline-block;
  border-right: 1px solid #ebebec;
  padding-right: 2px;
}

.dropDownsRelavite .dropDownsMain .dropdownPhim .dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 14px;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 140px;
}

.dropDownsRelavite .dropDownsMain .dropdownPhim svg {
  font-size: 15px;
}

.dropDownsRelavite .dropDownsMain .dropdownPhim .contentPhim {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropDownsRelavite .dropDownsMain .dropdownPhim .contentPhim a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropDownsRelavite .dropDownsMain .dropdownRap {
  position: relative;
  display: inline-block;
  border-right: 1px solid #ebebec;
  padding-right: 2px;
}

.dropDownsRelavite .dropDownsMain .dropdownRap .dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 14px;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 260px;
}

.dropDownsRelavite .dropDownsMain .dropdownRap svg {
  font-size: 15px;
}

.dropDownsRelavite .dropDownsMain .dropdownRap .contentRap {
  width: 300px;
  height: auto;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropDownsRelavite .dropDownsMain .dropdownRap .contentRap a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropDownsRelavite .dropDownsMain .dropdownTitle {
  position: relative;
  display: inline-block;
  border-right: 1px solid #ebebec;
  padding-right: 2px;
}

.dropDownsRelavite .dropDownsMain .dropdownTitle .dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 14px;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 110px;
}

.dropDownsRelavite .dropDownsMain .dropdownTitle svg {
  font-size: 15px;
}

.dropDownsRelavite .dropDownsMain .dropdownTitle .contentTitle {
  width: 150px;
  height: auto;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropDownsRelavite .dropDownsMain .dropdownTitle .contentTitle a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropDownsRelavite .dropDownsMain .dropdownTitle .contentTitleLength {
  width: 150px;
  height: 300px;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropDownsRelavite .dropDownsMain .dropdownTitle .contentTitleLength a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropDownsRelavite .dropDownsMain .btnMuaVe {
  background-color: #424242;
  color: #fff;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.dropDownsRelavite .dropDownsMain .contentMaNhom a:hover,
.dropDownsRelavite .dropDownsMain .contentPhim a:hover,
.dropDownsRelavite .dropDownsMain .contentRap a:hover,
.dropDownsRelavite .dropDownsMain .contentTitle a:hover,
.dropDownsRelavite .dropDownsMain .contentTitleLength a:hover {
  background-color: #f5f5f5;
}

.dropDownsRelavite .dropDownsMain .dropDownMaNhom:hover .contentMaNhom,
.dropDownsRelavite .dropDownsMain .dropdownPhim:hover .contentPhim,
.dropDownsRelavite .dropDownsMain .dropdownRap:hover .contentRap,
.dropDownsRelavite .dropDownsMain .dropdownTitle:hover .contentTitle,
.dropDownsRelavite .dropDownsMain .dropdownTitle:hover .contentTitleLength {
  -webkit-transition: 1s;
  transition: 1s;
  visibility: visible;
  opacity: 1;
}

.dropDownsRelavite .contentMaNhom::-webkit-scrollbar,
.dropDownsRelavite .contentPhim::-webkit-scrollbar,
.dropDownsRelavite .contentRap::-webkit-scrollbar,
.dropDownsRelavite .contentTitle::-webkit-scrollbar,
.dropDownsRelavite .contentTitleLength::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.dropDownsRelavite .contentMaNhom::-webkit-scrollbar-thumb,
.dropDownsRelavite .contentPhim::-webkit-scrollbar-thumb,
.dropDownsRelavite .contentRap::-webkit-scrollbar-thumb,
.dropDownsRelavite .contentTitle::-webkit-scrollbar-thumb,
.dropDownsRelavite .contentTitleLength::-webkit-scrollbar-thumb {
  background: #e2dfdf;
  border-radius: 6px;
}

@media (max-width: 1000px) {
  .dropDownsRelavite {
    display: none !important;
  }
}
/*# sourceMappingURL=dropdowns.css.map */