@mixin dropDownBox {
    position: relative;
    display: inline-block;
}
@mixin dropDownBtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 14px;
    border: none;
    text-align: left;
}
@mixin svgIcon {
    font-size: 15px;
}
@mixin content {
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
@mixin contentA {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropDownsRelavite {
    position: relative;
    cursor: pointer;
    .dropDownsMain {
        background-color: white;
        border: 1px solid rgba(248, 243, 243, 0.671);
        box-shadow: 15px 15px 50px #68656538;
        padding: 5px;
        border-radius: 5px;
        max-width: 940px;
        position: absolute;
        bottom: -10px;
        left: 18%;
        .dropdownPhim {
            @include dropDownBox;
            .dropbtn {
                @include dropDownBtn;
                width: 140px;
            }
            svg {
                @include svgIcon;
            }

            .contentPhim {
                width: 300px;
                height: 300px;
                @include content;
            }
            .contentPhim a {
                @include contentA;
            }
        }

        .dropdownRap {
            @include dropDownBox;
            .dropbtn {
                @include dropDownBtn;
                width: 260px;
            }
            svg {
                @include svgIcon;
            }

            .contentRap {
                width: 300px;
                height: auto;
                @include content;
            }
            .contentRap a {
                @include contentA;
            }
        }

        .dropdownTitle {
            @include dropDownBox;
            .dropbtn {
                @include dropDownBtn;
                width: 140px;
            }
            svg {
                @include svgIcon;
            }

            .contentTitle {
                width: 150px;
                height: auto;
                @include content;
            }
            .contentTitle a {
                @include contentA;
            }

            .contentTitleLength {
                width: 150px;
                height: 300px;
                @include content;
            }
            .contentTitleLength a {
                @include contentA;
            }
        }
        a {
            text-decoration: none;
            .btnMuaVe {
                background-color: gray;
                color: white;
                padding: 10px;
                outline: none;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                margin-left: 10px;
            }
        }

        // hover
        .contentPhim a:hover,
        .contentRap a:hover,
        .contentTitle a:hover,
        .contentTitleLength a:hover {
            background-color: #f1f1f1;
        }
        .dropdownPhim:hover .contentPhim,
        .dropdownRap:hover .contentRap,
        .dropdownTitle:hover .contentTitle,
        .dropdownTitle:hover .contentTitleLength {
            transition: 0.5s;
            visibility: visible;
            opacity: 1;
        }
    }
}
.contentPhim::-webkit-scrollbar,
.contentRap::-webkit-scrollbar,
.contentTitle::-webkit-scrollbar,
.contentTitleLength::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}
@media (max-width: 1200px) {
    .dropDownsRelavite {
        display: none !important;
    }
}
