@import "../../../assets/Style/scss/main/main.scss";

.dropDownsRelavite {
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    .dropDownsMain {
        background-color: $background-3;
        border: $border;
        box-shadow: $box-shadow;
        padding: $pd-5;
        border-radius: $boderR5;
        width: 960px;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        .dropDownMaNhom {
            @include dropDownBox;
            border-right: $border;
            padding-right: 2px;
            .dropbtn {
                @include dropDownBtn;
                width: 140px;
            }
            svg {
                @include svgIcon;
            }
            .contentMaNhom {
                width: 140px;
                height: 300px;
                @include content;
            }
            .contentMaNhom a {
                @include contentA;
            }
        }
        .dropdownPhim {
            @include dropDownBox;
            border-right: $border;
            padding-right: 2px;
            .dropbtn {
                @include dropDownBtn;
                width: 140px;
            }
            svg {
                @include svgIcon;
            }
            .contentPhim {
                width: 300px;
                height: 300px;
                @include content;
            }
            .contentPhim a {
                @include contentA;
            }
        }

        .dropdownRap {
            @include dropDownBox;
            border-right: $border;
            padding-right: 2px;
            .dropbtn {
                @include dropDownBtn;
                width: 260px;
            }
            svg {
                @include svgIcon;
            }

            .contentRap {
                width: 300px;
                height: auto;
                @include content;
            }
            .contentRap a {
                @include contentA;
            }
        }

        .dropdownTitle {
            @include dropDownBox;
            border-right: $border;
            padding-right: 2px;
            .dropbtn {
                @include dropDownBtn;
                width: 110px;
            }
            svg {
                @include svgIcon;
            }

            .contentTitle {
                width: 150px;
                height: auto;
                @include content;
            }
            .contentTitle a {
                @include contentA;
            }

            .contentTitleLength {
                width: 150px;
                height: 300px;
                @include content;
            }
            .contentTitleLength a {
                @include contentA;
            }
        }
        .btnMuaVe {
            background-color: $color-gray-2;
            color: $color-white;
            padding: 10px;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: $boderR5;
            font-size: 15px;
            font-weight: bold;
        }

        // hover
        .contentMaNhom a:hover,
        .contentPhim a:hover,
        .contentRap a:hover,
        .contentTitle a:hover,
        .contentTitleLength a:hover {
            background-color: $color-white-2;
        }
        .dropDownMaNhom:hover .contentMaNhom,
        .dropdownPhim:hover .contentPhim,
        .dropdownRap:hover .contentRap,
        .dropdownTitle:hover .contentTitle,
        .dropdownTitle:hover .contentTitleLength {
            transition: 1s;
            visibility: visible;
            opacity: 1;
        }
    }
    .contentMaNhom::-webkit-scrollbar,
    .contentPhim::-webkit-scrollbar,
    .contentRap::-webkit-scrollbar,
    .contentTitle::-webkit-scrollbar,
    .contentTitleLength::-webkit-scrollbar {
        @include scrollbar;
    }
    .contentMaNhom::-webkit-scrollbar-thumb,
    .contentPhim::-webkit-scrollbar-thumb,
    .contentRap::-webkit-scrollbar-thumb,
    .contentTitle::-webkit-scrollbar-thumb,
    .contentTitleLength::-webkit-scrollbar-thumb {
        @include scrollbarThumb;
    }
}

@media (max-width: 1000px) {
    .dropDownsRelavite {
        display: none !important;
    }
}
