@import "../../../assets/Style/scss/main/main.scss";

.creatSchedule {
    @include backgroundFormEdit;
    .wrapCreatSchedule {
        @include warpForm;
        max-width: 500px;
        h5 {
            @include h5title;
        }
        input {
            @include inputForm;
        }
        input::placeholder {
            @include placeHoderForm;
        }
        label {
            @include labelForm;
        }
        p {
            @include tagP;
        }
        span {
            font-size: 12px;
        }
        .spanValid {
            @include spanValid;
        }
        .dateTimer {
            width: 100%;
            @include dateTimer;
        }
        .selectCodeCinema {
            width: 100%;
            padding: 0 5px;
            font-size: 13px;
            
        }
        .MuiInput-underline:after {
            border-bottom: 1px solid $color-black-2 !important;
        }
        
        button {
            @include buttonForm;
            margin-top: 10px;
            margin-left: 5px;
        }
    }
}
