@import "../../../assets/Style/scss/main/main.scss";

.addMovie {
    @include backgroundFormEdit;
    .wrapFromAdd {
        @include warpForm;
        max-width: 500px;
        h5 {
            @include h5title;
        }
        input {
            @include inputForm;
        }
        input::placeholder {
            @include placeHoderForm;
        }
        label {
            @include labelForm;
        }
        p {
            @include tagP;
        }
        .dateTimer {
            @include dateTimer;
        }
        textarea {
            min-height: 100px;
            @include inputForm;
        }
        span {
            @include spanValid;
        }
        select {
            @include selectForm;
        }
        button {
            @include buttonForm;
            margin: 0 5px;
        }
    }
}
