@import "../../../assets/Style/scss/main/main.scss";
.formMovie {
    background-color: $background-3;
    min-width: 1300px;
    .inputSearch {
        @include inputForm;
    }
    input::placeholder {
        @include placeHoderForm;
    }
    button {
        @include buttonForm;
    }
    span {
        font-size: 13px;
        color: $color-black-2;
        font-weight: bold;
    }
    .dateTimer {
        @include dateTimer;
    }
    select {
        @include selectForm;
        width: 100px;
    }
}
.titleMovieManagement {
    margin: 10px 0;
    h5 {
        @include h5title;
        color: $color-white;
    }
    .btnThemPhim {
        @include buttonForm;
    }
}

.tableMove {
    min-width: 1300px;
    .iconDelete {
        color: $color-red;
        cursor: pointer;
    }
    .iconEdit {
        color: $colorCinestar;
        cursor: pointer;
    }
    .iconCreat {
        color: $colorBhd;
        cursor: pointer;
    }
}
