@import "../../../assets/Style/scss/main/main.scss";

.slider {
    .carouSelSlider {
        position: relative;
        justify-content: center;
        align-items: center;
        .imageSlider {
            width: 100%;
            height: 100%;
            height: 900px;
        }
        .modalPlay {
            width: 60px;
            height: 60px;
            @include modalPlay;
        }
    }
    .right-arrow {
        @include arrowSlick;
        right: 32px;
    }
    .left-arrow {
        @include arrowSlick;
        left: 32px;
    }
    // dots carousel
    .slick-dots {
        bottom: 10%;
    }
    .slick-dots li {
        width: 30px;
    }
    .slick-dots li.slick-active button:before,
    .slick-dots li button:before {
        color: $color-red;
        font-size: $fs20;
    }
    .carouSelSlider:hover .modalPlay {
        opacity: 1;
        transition: 0.5s;
    }
}

@media (max-width: 580px) {
    .slider {
        .carouSelSlider {
            .modalPlay {
                width: 50px !important;
                height: 50px !important;
                padding: $pd-10 !important;
            }
            .right-arrow,
            .left-arrow {
                display: none !important;
            }
        }
    }
}
@media (max-width: 320px) {
    .slider {
        .carouSelSlider {
            .modalPlay {
                width: 30px !important;
                height: 30px !important;
                padding: $pd-5 !important;
            }
        }
    }
}
