@import "../../../assets/Style/scss/main/main.scss";

.slider {
    height: 100%;
    .carouSelSlider {
        position: relative;
        justify-content: center;
        align-items: center;
        .imageSlider {
            width: 100%;
        }
        .iconPlay {
            @include iconPlay
        }
    }
    .right-arrow {
        @include arrowSlick;
        right: 32px;
    }
    .left-arrow {
        @include arrowSlick;
        left: 32px;
    }
}
.carouSelSlider:hover .iconPlay {
    opacity: 1;
    transition: 0.5s;
}
// dots carousel
.slick-dots {
    bottom: 10%;
}
.slick-dots li {
    width: 30px;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: $color-red;
    font-size: $fs20;
}

@media (max-width: 720px) {
    .slick-dots li.slick-active button:before,
    .slick-dots li button:before {
        display: none;
    }
}
@media (max-width: 580px) {
    .iconPlay {
        width: 50px !important;
        height: 50px !important;
        padding: $pd-10 !important;
    }
}
@media (max-width: 320px) {
    .iconPlay {
        width: 30px !important;
        height: 30px !important;
        padding: $pd-5 !important;
    }
}
