@mixin select {
    max-width: 200px;
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.808);
    color: $color-gray-2;
}
@mixin spanButton {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    color: $color-white;
    font-weight: bold;
}
@mixin textTitlte {
    font-size: 15px;
    color: $color-black;
    font-weight: bold;
}
@mixin h5title {
    text-align: center;
    font-size: 20px;
    color: $color-black;
    font-weight: 500;
}
// carousel
@mixin arrowSlick {
    position: absolute;
    top: 45%;
    font-size: 40px;
    color: $color-gray-2;
    z-index: 10;
    cursor: pointer;
}
@mixin iconPlay {
    opacity: 0;
    width: 70px;
    height: 70px;
    color: white;
    background-color: rgba(0, 0, 0, 0.255);
    text-align: center;
    padding: 25px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}
// listPhim
@mixin hoverTranitionOn {
    opacity: 1;
    transition: 0.6s;
}
@mixin hoverTranitionOff {
    opacity: 0;
    transition: 0.6s;
}
@mixin modalPlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.356);
    border: 1px solid white;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 42%;
    left: 38%;
    z-index: 9;
    .iconPlay {
        font-size: 30px;
        color: white;
    }
}
