@mixin select {
    max-width: 200px;
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: $background-3;
    color: $color-gray-2;
}
@mixin spanButton {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: $boderR5;
    color: $color-white;
    font-weight: bold;
    cursor: pointer;
}
@mixin textTitlte {
    font-size: 15px;
    color: $color-black;
    font-weight: bold;
}
@mixin h5title {
    text-align: center;
    font-size: 17px;
    color: $color-black;
    font-weight: $fw-bold;
}
// carousel
@mixin arrowSlick {
    position: absolute;
    top: 45%;
    font-size: 40px;
    color: $color-gray-2;
    z-index: 10;
    cursor: pointer;
}
@mixin modalPlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.356);
    border: $border;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    .iconPlay {
        color: $color-white;
    }
}

// listPhim
@mixin hoverTranitionOn {
    opacity: 1;
    transition: 0.6s;
}
@mixin hoverTranitionOff {
    opacity: 0;
    transition: 0.6s;
}

@mixin headerTitleLink {
    font-size: $fs15;
    font-weight: $fw-500;
    color: $color-black-2;
    margin-right: 20px;
    cursor: pointer;
}
