* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 6px;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(./assets/font/Gotham\ Ultra.otf);
}

.mainSection {
  background-color: #f9f8fd;
  margin-top: 64px;
}

@media (max-width: 1000px) {
  .mainSection {
    margin-top: 0px !important;
  }
}
