* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
html {
  scroll-behavior: smooth;
}
#lichChieu {
  height: 812px;
}
#cumRap {
  height: 644px;
}
#ungDung {
  min-height: 777px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#myBtn:hover {
  color: wheat;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 6px;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(./assets/font/Gotham\ Ultra.otf);
}

.mainSection {
  background-color: #f9f8fd;
  margin-top: 64px;
}

@media (max-width: 1000px) {
  .mainSection {
    margin-top: 0px !important;
  }
}
@media (max-width: 1000px) {
  #cumRap {
    display: none !important;
  }
}
