@import "../../../assets/Style/scss/main/main.scss";

.profileUser {
  @include backgroundForm;
  padding: 50px;
  .infoUser {
    @include blockProfile;
    h5 {
      @include h5title;
    }
    .table {
      @include table;
      tr td {
        @include tableTd;
      }
      tr:hover {
        background-color: $color-white-2;
      }
    }
    button {
      @include buttonForm;
      border: $borderTable;
    }
  }
  .historyBooking {
    overflow-y: scroll;
    @include blockProfile;
    h5 {
      @include h5title;
    }
    .inputSearch {
      @include inputForm;
    }
    .tableBooking {
      @include table;
      tr th {
        text-align: left;
        font-weight: $fw-bolder;
        font-size: $fs15;
      }
      tr td {
        @include tableTd;
      }
      tr:hover {
        background-color: $color-white-2;
      }
    }
  }
  .updateUser {
    max-width: 400px;
    @include warpForm;
    padding: 20px;
    h5 {
      @include h5title;
    }
    span {
      @include labelForm;
    }
    p {
      @include spanValid;
    }
    input {
      @include inputForm;
    }
    input::placeholder {
      @include placeHoderForm;
      text-align: left;
    }
    button {
      @include buttonForm;
      border: $borderTable;
      margin: $mgx10;
    }
  }
}

// scroll css
.historyBooking::-webkit-scrollbar {
  @include scrollbar;
}
.historyBooking::-webkit-scrollbar-thumb {
  @include scrollbarThumb;
}
@media (max-width: 600px) {
  h5 {
    font-size: 15px !important;
  }
  .infoUser {
    overflow-x: scroll !important;
    width: 300px !important;
    .table {
      width: 200px !important;
    }
  }
  .historyBooking {
    overflow-x: scroll !important;
    max-width: 800px !important;
    .tableBooking {
      width: 800px !important;
    }
  }
  .updateUser {
    min-width: 250px !important;
    button {
      padding: 50px;
      margin-left: 0 !important;
      margin: 0 !important;
      font-size: 13px !important;
    }
  }
}
