@mixin dropDownBox {
    position: relative;
    display: inline-block;
}
@mixin dropDownBtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 14px;
    border: none;
    text-align: left;
    cursor: pointer;
}
@mixin svgIcon {
    font-size: 15px;
}
@mixin content {
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
@mixin contentA {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
